<div class="container d-flex mt-5 justify-content-center">
	<div class="content flex-column">
		<app-user-card></app-user-card>
		<h1>List user</h1>
		<button type="button" class="btn btn-primary" (click)="navigateToUserForm()">Adicionar usuário</button>
		<table>
			<th></th>
			<th>USER DETAILS</th>
			<th>ROLE</th>
			<th>DEPARTAMENT</th>
			<th>SUBMITS TO </th>
			<tbody>
				<tr>
					<td></td>
					<td>img</td>
					<td>
						nome <br>
						email <br>
						email secundario <br>
						add on 11/08/2022 23:07:04
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
