.avatar {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-top: 20px;
}

.card {
	display: flex;
	flex-direction: row;
	gap: 10px;
	border: none;
	border-bottom: 1px solid #00000020;
}

.card-body {
	display: flex;
	flex-direction: row;
	gap: 14px;
}

.summary {
	width: 50%;
	margin-top: 10px;
	text-align: left;
}

.actions {
	width: 40%;
	display: flex;
	flex-direction: row;
	gap: 16px;
	align-items: baseline;
}

.btn-size {
	width: 40%;
}

.mt-custom {
	margin-top: 5rem;
}

.no-margin {
	margin: 0px;
}

.small-text {
	margin-top: 12px;
}

.linkEmail {
	text-decoration: none;
	font-weight: 500;
}
